.top {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.timer{
    background-color: white;
    padding: 35px;
}

body{
    background: #007bff;
}

.intro,
.quizBox,
.result_box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.intro h3 {
    width: 50%;
    text-align: center;

}

.quizBox {
    padding-bottom: 60px;
}

.bottom {
    display: flex;
    gap: 6rem;
    justify-content: center;
}
/* .resultsBox {
    display: flex;
    justify-content: space-evenly;
} */