body {
    background: mediumturquoise;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}


.intro h3 {
    width: 50%;
    text-align: center;

}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    gap: .5rem;
}

footer {
    display: inline;
}